
        <div class="navigation-example" style="background-image: url('./assets/img//bg.jpg');">
          <nav class="navbar navbar-expand-lg bg-rose">
                      <div class="container">
                        <div class="navbar-translate">
                          <a class="navbar-brand" href="#0">Spotify Music Advisor</a>
                          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="navbar-toggler-icon"></span>
                            <span class="navbar-toggler-icon"></span>
                            <span class="navbar-toggler-icon"></span>
                          </button>
                        </div>
                        <div class="collapse navbar-collapse">
                          <ul class="navbar-nav">
                            <li class="nav-item active">
                              <a [routerLink]="'/home'" [className]="nav-link">Home</a>
                            </li>
                            <li class="nav-item">
                              <a [routerLink]="'/recommendation'" [className]="nav-link">Get Recommendations</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </nav>
                  </div>